[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

pytelegrambotapi = "==3.2.1"
requests = "==2.20.0"
redis = "==2.10.6"


[dev-packages]
"flake8" = "*"
mypy = "*"


[requires]
python_version = "3.6"